# dependencies
node_modules/

# testing
coverage/

# production
dist/
build/

# Amplify
.amplify/
amplify/

# environment
.env*
.local

# logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db